

body{

    padding: 100px;

}


.submitted-area{

    margin-top: 40px;
    box-shadow: 5px 5px 10px  gray;
    border-radius: 5px;
    padding: 50px;

}

#transaction-area{

    display: none;
}

.deposit{

    
    background-color: rgb(43, 8, 167);

}

.withdraw{

    background-color: rgb(214, 124, 124);

}

.balance{
    background-color: rgb(233, 147, 19);

}

.status{

    margin: 0 20 px;
    border-radius: 20px;
    padding: 10px;
    color: azure; 
}